*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.head{
    font-size: 50px;
    font-weight: 900;
    background-color: aquamarine;
    border: 2px solid black;
    text-align: center;
}
.back{
    height: 50vh;
    width:700vw;
    background-image: url(tree.jpeg);
    background-size: contain;
    position: absolute;
    animation: car_move linear 6s infinite;
}
#horizontal_top{
    top:61vh;
     width:700vw;
    position: relative;
    height:20px;
    border:none;
    border-top: 10px dashed yellow;
    animation: car_move linear 6s infinite;
}
#horizontal{
    top:65vh;
     width:700vw;
    position: relative;
    height:20px;
    background-color: white;
    border: none;
    animation: car_move linear 6s infinite;
}
#horizontal_bottom{
    top:72vh;
    width:700vw;
    position: relative;
    height:20px;
    border: none;
    border-top: 10px dashed yellow;
    animation: car_move linear 6s infinite;
}
 .animate_road{
    height: 57vh;
    width:700vw;
    background-image: url(road_final.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top:40vh;
    animation: car_move linear 6s infinite;
}
.mycar{
    height: 25vh;
    position: absolute;
    width:25vw;
    top:30vh;
    left:25vw;
}
.tyre1{
    height: 8vh;
    width:4vw;
    position: absolute;
    top:45.5vh;
    left:28.2vw;
    animation: car_tyre linear .6s infinite;
}
.tyre2{
    height: 8vh;
    width:4vw;
    position: absolute;
    top:45.5vh;
    left:43.3vw;
    animation: car_tyre linear .6s infinite;
}
 @keyframes car_move {
    100%{
        transform: translateX(-500vw);
    }
    
}

@keyframes car_tyre {
    100%{
        transform: rotate(360deg);
    }
    
} 